# Source
src/

# Examples
examples/

# Tests
tests/
*.test.ts
*.spec.ts

# Development
.github/
.vscode/
.idea/
.env*
tsconfig.json
jest.config.js

# Misc
.DS_Store
*.log
.editorconfig
.eslintrc*
.prettierrc*
.gitignore

# Dependencies
node_modules/
